{% extends "AppGimnasio/index.html" %}
{% load static %}

{% block formularios %}
<h2 style="color:white;">Inscribite!</h2>
    {% if formulario.errors %}
    <p style="color:crimson;">Completaste el formulario de forma incorrecta</p>
    {% endif %}

    <form action="" method="POST"> {% csrf_token %}
        <table style="color:rgb(211, 141, 0) ;">
          {{ formulario.as_table }}
        </table>
  
          <input type="submit" value="Enviar">
    </form>
{% endblock %}


    {% block contenido2 %}
{% endblock %}