{% extends "AppGimnasio/index.html" %}

{% load static %}
{% block formularios %}

    {% if formulario.errors %}
    <p style="color:crimson;">Completaste el formulario de forma incorrecta</p>
    {% endif %}

    <form action="" method="POST"> {% csrf_token %}
      <table style="color:rgb(211, 141, 0) ;">
        {{ formulario.as_table }}
      </table>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}


{% block profesores %}
{% endblock  %}

{% block clases %}
{% endblock  %}

{% block abonos %}
{% endblock  %}

{% block alumno %}
{% endblock  %}